.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 20px 20px 20px 20px;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 0 0 20px 0;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    margin: 0px 20px 90px 0 ;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    padding: 25px 25px 0 0;
    vertical-align: baseline;

}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: 0px -5px 0px 15px;


}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    display: inline-block;
    margin: 20px 20px 20px 15px;
}

body {
    margin-top: 60px;
}

