* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Comic Neue', cursive;
    background-color: #fff;
}


.container {
    background-color: #c1c1c1;
    margin: 10px auto;
    width: 1000px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 60px;
}

.title {
    font-size: 3em;
    font-weight: bolder;
}

.search-bar {
    flex: 1;
    font-size: 1.2em;
    margin: 0 100px;
    padding: 5px 150px 5px 0px;
}

.btn-nav, 
.btn-like, 
.btn-add {
    font-size: 1.2em;
    padding: 5px 15px;
    border: 2px solid #000;
    box-shadow: 4px 4px #000;
    cursor: pointer;
}

.btn-nav {
    color: #fff;
    background-color: #2f75e4;
}

.main {
    display: flex;
    margin: 0 270px 0 270px;
}

.colLeft-2 {
    flex: 2;
}

.colRight-1 {
    flex: 1;
    margin-left: 30px;
}

.box-def, .box {
    margin-top: 30px;
    padding: 30px;
    background-color: #fff;
    border: 2px solid #777;
}

.box-def {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    flex: 1;
    text-align: center;
}

.content p {
    margin: 10px 0;
    font-size: 1.2em;
}

.btn-like {
    background-color: #ffd866;
}

.text-def {
    flex: 3;
    margin-left: 20px;
    font-size: 1.4em;
}

.box h2 {
    font-size: 1.7em;
}

.btn-add {
    background-color: #92c57c;
    width: 100%;
    margin-top: 20px;
}

