.b1 > button {
    color: #379c94;
    background-color: #fff;
    font-size: medium;
    font-weight: bold;
    width: 150px;
    border-color: #379c94;
    margin-top: 40px;
    border-radius: 100px;
    text-align: center;
    padding: 5px 20px 5px 20px;
    box-shadow: none; 
}

.b2 > button {
    color: #fff;
    background-color: #04caad;
    font-size: xx-large;
    border-color: #04caad;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: none;
    text-align: center;
}

.b3 > button {
    color: #fff;
    background-color:#2b77e5;
    font-size: large;
    width: 200px;
    border-color: #000;
    box-shadow: 5px 5px #000;
    text-align: center;
    padding: 5px 20px 5px 20px;
}

div {
    margin: 10px;
}

