
* {
    font-family: 'Roboto', sans-serif;
}

.nav {
    background-color: #323233;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 10%;
} 

.nav-links {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

ul li:hover {
    font-weight: bold;
}

.nav-title {
    margin-left: 50px;
}

.btn {
    color: #fff;
    background-color: #17a2b8;
    font-size: 15px;
    height: 30px;
    width: 90px;
    box-shadow: 3px 3px #000;
    border: solid #000;
}
