/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* Fixed width container class that will "auto-center" itself */
.container {
    width: 1200px;
    margin: 0 auto;
}


/* Button Up */
.btn-up1 > button {
    color: #379c94;
    background-color: #fff;
    font-size: medium;
    font-weight: bold;
    width: 150px;
    border-color: #379c94;
    margin-top: 40px;
    border-radius: 100px;
    text-align: center;
    padding: 5px 20px 5px 20px;
    box-shadow: none; 
}

.btn-up2 > button {
    color: #fff;
    background-color: #04caad;
    font-size: xx-large;
    border-color: #04caad;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: none;
    text-align: center;
}

.btn-up3 > button {
    color: #fff;
    background-color:#2b77e5;
    font-size: large;
    width: 200px;
    border-color: #000;
    box-shadow: 5px 5px #000;
    text-align: center;
    padding: 5px 20px 5px 20px;
}

div {
    margin: 10px;
}

/* FLEX-ible Columns */
.row {
    display: flex;
}

.col, .col-2, .col-3 {
    color: #fff;
    background-color: #17a2b8;
    margin: 10px;
    padding: 10px;
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}

/* Flex Navbar */
.navbar {
    font-family: 'Roboto', sans-serif;
    background-color: #323233;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* line-height: 50%; */
} 

.nav-links {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

ul li:hover {
    font-weight: bold;
}

.nav-title {
    margin-left: 50px;
}

.btn {
    color: #fff;
    background-color: #17a2b8;
    font-size: 15px;
    height: 30px;
    width: 90px;
    box-shadow: 3px 3px #000;
    border: solid #000;
}
